.fs-widget-background {
	-fx-background-color: dodgerblue;
	-fx-background-radius: 25;
}

.fs-widget-image {
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;	
}

.rounded-widget {
	-fx-background-radius: 10;
}

.fs-node-title-bar {
	-fx-background-color:
		linear-gradient(to bottom, rgba(255,255,255,0.5) 15%, rgba(50,100,150,0.25) 65%, rgba(255,255,255, 0.0) 100%);
}

.fs-node-body {
	-fx-border-color: rgba(100, 150, 200, 1.0);
}

.transparent-widget .fs-node-body {
	-fx-background-color: rgba(50,100,150,0.0);	
}

.top-rounded-widget {
	-fx-background-radius: 15 15 0 0;
}

.bottom-rounded-widget {
	-fx-background-radius: 0 0 15 15;
}

.semi-transparent-widget {
	-fx-background-color: rgba(50, 100, 150, 0.5);
}

.fs-cloud {
	-fx-background-image: url("fs-cloud.png");
}

.fs-mobile {
	-fx-background-image: url("fs-mobile.png");
}

.fs-amazon-s3 {
	-fx-background-image: url("fs-cloud.png"), url("amazon-s3.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;

	-fx-background-size: contain, 32;
}

.fs-source-disk {
	-fx-background-image: url("fs_source.png");
}

.fs-local-disk {
	-fx-background-image: url("fs-disk.png");
}

.fs-android {
	-fx-background-image: url("fs-mobile.png"), url("android.png");
	-fx-background-size: contain, 32;
}

.fs-scroll-label:hover{
	-fx-background-color: #DFB951;
}

.fs-scroll-image-view {
	
}

.top-left-button{
	-fx-background-radius: 10 0 0 0;
}

.top-right-button{
	-fx-background-radius: 0 10 0 0;
}