@CHARSET "UTF-8";
.combo-box-popup .list-view {
    -fx-font-size : 18pt;
}

.list-cell {
	-fx-font-size : 18pt;
}
/*added this in an edit*/
.combo-box-popup .list-view .list-cell {
    -fx-padding: -1 -1 -1 -1;
    -fx-font-size : 18pt;
}